<!-- 在rviz 显示机器人，带1个相机和1个激光雷达 -->
<launch>
  <!-- 将 Urdf 文件的内容加载到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find slam_cver)/xacro/car_rviz.xacro" />

  <!-- 启动 rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_cver)/config/car_rviz.rviz" />

  <!-- 关节以及机器人状态发布节点 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" /> -->
</launch>
